// здесь все переменные кроме тех, которые относятся к теме
// эти переменные можно будет использовать в любом scss файле, они будут подключены по умолчанию

// для удобной работы с media запросами:
$md1: 1200;
$md2: 992;
$md3: 768;
$md4: 480;

// дефолтное семейтсво шрифта
$ff: "Arial";
// дефолтный размер шрифт
$fz: 16px;
// дефолтная жирность
$fw: 400;