// для стилей в этой папке приставка *.module.scss излишне
@import './zero';
@import './fonts';
@import './mixins';

body {
  font-family: $ff;
  font-size: $fz;
  font-weight: $fw;
  overflow-x: hidden;

  &.lock {
    overflow: hidden;
  }
}